@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Segoe UI", Tahoma;
    font-size: var(--regular-text-size);
}

:root {
    --primary-bg-color: #1f1f1f;
    --secondary-bg-color: #262626;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --primary-bg-accent-color: #de4c4a;
    --primary-text-accent-color: #e26a60;
    --regular-text-size: 13px;
    --selected-project-bg-accent-color: rgba(222, 76, 74, 0.2);
}

html * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-bg-color) var(--secondary-bg-color); 
}

button {
    font-size: inherit;
    color: inherit;

    display: flex;
    align-items: center;

    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
}

.app-container {
    display: flex;
} 

.projects-title {
    color: var(--secondary-text-color);
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--primary-bg-color);
    flex-grow: 1;
    overflow-y: auto;
}

.main-project-actions {
    height: 56px;
    border: 1px white dashed;
}

.project-container header {
    margin-left: -4px; 
}

header .project-title {
    color: var(--primary-text-color); 
    font-size: 26px;
    padding: 8px 0;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container > * {
    max-width: 800px;
    border: 1px white dashed;
    width: 100%;
}

.main-add-task-btn {
    height: 48px;
}

.add-section {
    height: 48px;
}

.task {
    list-style: none;
    height: 48px;
    border-bottom: 1px white dotted;
}
