@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Segoe UI", Tahoma;
    font-size: var(--regular-text-size);
}

:root {
    --primary-bg-color: #1f1f1f;
    --secondary-bg-color: #262626;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --primary-bg-accent-color: #de4c4a;
    --primary-text-accent-color: #e26a60;
    --regular-text-size: 13px;
    --selected-project-bg-accent-color: rgba(222, 76, 74, 0.2);
}

html * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-bg-color) var(--secondary-bg-color); 
}

button {
    font-size: inherit;
    color: inherit;

    display: flex;
    align-items: center;

    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
}

.app-container {
    display: flex;
} 

.projects-name {
    color: var(--secondary-text-color);
}

.app-content {
    display: flex;
    flex-direction: column;

    background-color: var(--primary-bg-color);
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}

#add-task-dialog {
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--secondary-bg-color);
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    width: 550px;
}

#add-project-dialog,
#rename-project-dialog,
#rename-section-dialog {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--secondary-bg-color);
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    width: 480px; 
}

.add-task-form,
.add-project-form,
.rename-project-form,
.rename-section-form {
    display: flex;
    flex-direction: column;
}

.add-project-header,
.rename-project-header,
.rename-section-header {
    color: var(--primary-text-color);
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #3f3f3f;
}

.form-top-half {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-bottom-half {
    display: flex;
    align-items: center;
    border-top: 1px solid #3f3f3f;
    height: 64px;
    padding: 0 16px;
}

::backdrop {
    background-color: transparent;
}

#task-name,
textarea {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
}

#project-name,
#new-project-name,
#new-section-name {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    outline: none;
    border: 1px solid #3f3f3f;

    font-weight: 600;
    padding: 8px;
    margin: 0 16px;
    border-radius: 5px;
}

#task-name {
    font-size: 16px;
    font-weight: 600;
}

textarea {
    resize: none;
    max-height: 150px;
}

.task-setting-actions {
    display: flex; 
    justify-content: flex-start;
    gap: 8px;
}

.task-due-date-btn,
.task-priority-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    position: relative;

    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    border: 1px solid #3f3f3f;
    padding: 4px 8px;
}

.task-priority-btn[task-priority="4"] {
    border: 1px solid #3f3f3f;
}

.task-priority-btn[task-priority="3"] {
    border: 1px solid #3644ff;
}

.task-priority-btn[task-priority="2"] {
    border: 1px solid #de924a;
}

.task-priority-btn[task-priority="1"] {
    border: 1px solid var(--primary-bg-accent-color);
}

.task-due-date-btn:hover,
.task-priority-btn:hover,
.task-placement-btn:hover {
    background-color: #3f3f3f;
    cursor: pointer;
}

#task-due-date,
#task-priority-selection,
#task-placement-selection {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#task-priority-selection {
    left: 17%;
}

.task-due-date-icon,
.task-priority-icon,
.task-placement-menu-icon {
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7484%) hue-rotate(46deg) brightness(91%) contrast(92%);
}

.task-due-date-icon {
    width: 16px;
    height: 16px;
}

.task-priority-icon {
    width: 20px;
    height: 20px;
}

.task-placement-menu-icon {
    width: 16px;
    height: 16px;
}

.task-submission-actions,
.project-submission-actions,
.project-rename-actions,
.section-rename-actions {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}

.project-submission-actions,
.project-rename-actions,
.section-rename-actions {
    padding: 16px;
    align-items: center;
}

.cancel-task-btn,
.dialog-add-task-btn,
.task-placement-btn,
.cancel-project-btn,
.dialog-add-project-btn,
.cancel-rename-btn,
.dialog-rename-project-btn,
.dialog-rename-section-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    padding: 7px 14px;
    color: var(--primary-text-color);
    font-weight: 500; 
}

.cancel-task-btn,
.cancel-project-btn,
.cancel-rename-btn {
    margin-left: auto;
    background-color: #414141;
}

.cancel-task-btn:hover,
.cancel-project-btn:hover,
.cancel-rename-btn:hover {
    background-color: #575757;
    cursor: pointer;
}

.dialog-add-task-btn:hover:not(:disabled),
.dialog-add-project-btn:hover:not(:disabled),
.dialog-rename-project-btn:hover:not(:disabled),
.dialog-rename-section-btn:hover:not(:disabled) {
    background-color: var(--primary-text-accent-color);
    cursor: pointer;
}

.dialog-add-task-btn,
.dialog-add-project-btn,
.dialog-rename-project-btn,
.dialog-rename-section-btn {
    background-color: var(--primary-bg-accent-color);
}

.dialog-add-task-btn:not(:disabled),
.dialog-add-project-btn:not(:disabled),
.dialog-rename-project-btn:not(:disabled),
.dialog-rename-section-btn:not(:disabled) {
    opacity: 1;
}

.dialog-add-task-btn:disabled,
.dialog-add-project-btn:disabled,
.dialog-rename-project-btn:disabled,
.dialog-rename-section-btn:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

label {
    padding: 16px;
    color: var(--primary-text-color);
}
