.main-project-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    height: 56px;
}

.main-edit-project-btn {
    margin-left: auto;
    padding: 4px;
}

.main-edit-project-btn > img {
    width: 24px;
    height: 24px;

    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7484%) hue-rotate(46deg) brightness(91%) contrast(92%);
}

.main-edit-project-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.project-container header {
    margin-left: -4px; 
}

.project-header {
    color: var(--primary-text-color); 
    font-size: 26px;
    padding: 8px 0;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.project-container > * {
    max-width: 800px;
    width: 100%;
}

.main-add-task-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.main-add-task-btn > img {
    width: 18px;
    height: 18px;

    filter: brightness(0) saturate(100%) invert(53%) sepia(8%) saturate(4221%) hue-rotate(316deg) brightness(99%) contrast(80%);
}

.main-add-task-btn > div {
    color: var(--secondary-text-color);
}

.main-add-task-btn:hover > div {
    color: var(--primary-text-accent-color);
}

.main-add-task-btn:hover {
    cursor: pointer;
}

.add-section {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    opacity: 0;

    transition: opacity .3s cubic-bezier(.4,0,.2,1);
}

.add-section:hover {
    cursor: pointer;
    opacity: 1;
}

.add-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--primary-text-accent-color);
  z-index: 0;
}

.add-section-text {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-accent-color);
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.add-project-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: #363636;
    padding: 8px 12px;
}

.add-project-btn:hover {
    background-color: #575757;
    cursor: pointer;
}

.add-project-btn > img {
    width: 18px;
    height: 18px;

    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7484%) hue-rotate(46deg) brightness(91%) contrast(92%);
}

.add-project-btn > div {
    color: var(--primary-text-color);
}

.projects-list-header {
    color: var(--primary-text-color);
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 1px solid #3f3f3f;
}

.project-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    padding: 8px 6px;
    border-radius: 10px;
}

.project-card:hover {
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.1);
}

.project-card:hover > #edit-project-card-btn {
    visibility: visible;
}

.project-card-title {
    color: var(--primary-text-color);
    font-size: 14px;
}

#edit-project-card-btn {
    margin-left: auto;
    visibility: hidden;
    padding: 8px;
}

#edit-project-card-btn:hover,
.project-card:hover {
    cursor: pointer;
}

#edit-project-card-btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.project-tasks-list {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    margin-top: -12px;
}

.main-add-task-form {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: var(--primary-bg-color);
    border: 1px solid #3f3f3f;
    border-radius: 10px;
}

.main-form-top-half {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.main-form-bottom-half {
    display: flex;
    align-items: center;
    border-top: 1px solid #3f3f3f;
    padding: 8px;
}

#main-task-name,
.main-text-area {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
}

#main-task-name {
    font-weight: 600;
}

#main-task-priority-selection {
    position: absolute;
    z-index: -1;
    opacity: 0;

    left: 11%;
}

.add-section-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#section-title-input {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    outline: none;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    padding: 6px;
    font-weight: 500;
}

.add-section-form-btns {
    display: flex;
    gap: 8px;
}

.add-section-btn,
.cancel-section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    padding: 7px 14px;
    color: var(--primary-text-color);
    font-weight: 500; 
}

.add-section-btn {
    background-color: var(--primary-bg-accent-color);
}

.add-section-btn:hover:not(:disabled) {
    background-color: var(--primary-text-accent-color);
    cursor: pointer;
}

.add-section-btn:not(:disabled) {
    opacity: 1;
}

.add-section-btn:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.cancel-section-btn {
    background-color: var(--primary-bg-color);
}

.cancel-section-btn:hover {
    background-color: #575757;
    cursor: pointer;
}

.inbox-project-menu,
.user-project-menu {
    display: none;
    flex-direction: column;

    position: fixed;

    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    padding: 4px;
    width: 200px;
}

[class$="option"] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    
    padding: 4px 8px;
    border-radius: 4px;
}

[class$="option"]:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.add-section-option-icon {
    width: 20px;
    height: 20px;
}

.add-section-option-text {
    color: var(--primary-text-color);
}

.add-section-option-icon {
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7484%) hue-rotate(46deg) brightness(91%) contrast(92%);    
}
