.sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;

    flex-shrink: 0;

    height: 100vh;
    width: 250px;
    padding: 18px 12px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-size: 16px;

    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.content-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#sidebar-add-task-btn,
#sidebar-inbox-btn {
    display: flex;
    justify-content: flex-start;
    padding: 5px 4px;
    gap: 8px;

    width: 100%;
}

#sidebar-add-task-btn > div {
    color: var(--primary-text-accent-color);
}

#sidebar-add-task-btn:hover,
#sidebar-inbox-btn:hover,
.projects-header:hover,
.project:hover,
#help-btn:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

#sidebar-add-project-btn,
#sidebar-toggle-view-projects-btn,
#edit-project-btn {
    padding: 4px;
}

#sidebar-add-project-btn:hover,
#sidebar-toggle-view-projects-btn:hover,
#edit-project-btn:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.project:hover > #edit-project-btn{
    visibility: visible;
}

img[class^="sidebar"] {
    width: 26px;
    height: 26px;
}

img[class^="header"],
img[class^="project"],
img[class^="help"] {
    width: 16px;
    height: 16px;
}

.sidebar-add-icon {
    filter: brightness(0) saturate(100%) invert(36%) sepia(44%) saturate(818%) hue-rotate(314deg) brightness(110%) contrast(107%);
}

.header-icon,
img[class^="project"],
img[class^="help"],
.sidebar-inbox-icon {
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(7484%) hue-rotate(46deg) brightness(91%) contrast(92%);
}

.projects-container {
    flex-grow: 1;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 4px;
    border-radius: 5px;
}

.sidebar-project-actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.projects-list {
    margin-left: 12px;

    opacity: 1;
    transition: opacity 0.2s ease;
}

.projects-list.off {
    opacity: 0;
    pointer-events: none;
}

.project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    list-style: none;
    padding: 6px 4px;
    border-radius: 5px;
}

#edit-project-btn {
    margin-left: auto;
    visibility: hidden;
}

#help-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding: 8px 4px;
}

#sidebar-inbox-btn.selected-project,
#sidebar-inbox-btn.selected-project:hover,
.selectable.selected-project,
.selectable.selected-project:hover {
    background-color: var(--selected-project-bg-accent-color);
    
}

#sidebar-inbox-btn.selected-project {
    color: var(--primary-text-accent-color);
}

.selected-project > .projects-name {
    font-weight: 600;
    color: var(--primary-text-color); 
}

.selected-project.project {
    color: var(--primary-text-accent-color);
}

.toggle-on > img{
    transform: rotate(-90deg);
    transition: 0.2s ease;
}

.toggle-off > img{
    transform: rotate(0);
    transition: 0.2s ease;
}
